extends layout

block content
  .container
    .row
      .col-xs-8
        h2 Game display
        #sokoban
      .col-xs-2
        h2 Players
        dl.dl-horizontal#players
      .col-xs-2#chat
        h2 Chat
        ul#messages
        form(role='form')#form-message
          .form-group
            input#message.form-control(type='text', placeholder='Enter message', autocomplete='off')
            button(type='button').btn.btn-primary Send

    .row
      .col-xs-10
        .list-group#gameRooms
          h2 Rooms
          each gameRoom in gameRooms
            div(id=gameRoom.roomId).list-group-item
              h3.list-group-item-heading= gameRoom.roomName
              p.list-group-item-text= gameRoom.description
              p.list-group-item-text Chosen level: #{gameRoom.levelId}
              p.list-group-item-text Players:
                span#players-in #{gameRoom.playersIn}
                /#{gameRoom.allPlayers}
              a(id=gameRoom.roomId, href="#modal-join-game-room", data-toggle="modal").btn.btn-sm.btn-info.room Join
        // Modal
        #modal-join-game-room.modal.fade(tabindex='-1', role='dialog', aria-labelledby='join-game-room-label', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true')&times;
                  span.sr-only Close
                h4#join-game-room-label.modal-title Join game room
              .modal-body
                form(role='form')
                  .form-group
                    label(for='player-name') Player name:
                    input#player-name.form-control(type='text', placeholder='Enter player name', value="Player 2")
                    input#game-room-id.hidden(value="")
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button#confirm-join-game-room.btn.btn-primary(type='button') Confirm
      .col-xs-2#new-game-room
        h2 New multiplayer game
        form(role='form')
          .form-group
            label(for='game-room-name') Game room name:
            input#game-room-name.form-control(type='text', placeholder='Enter game room name', value="Game room 4")
          .form-group
            label(for='game-room-description') Game room description:
            input#game-room-description.form-control(type='text', placeholder='Enter game room description', value="This is game room 4.")
          .form-group
            label(for='game-server-level') Level id:
            input#game-server-level.form-control(type='text', placeholder='Enter game level', value="2")
          .form-group
            label(for='player-name') Player name:
            input#player-name.form-control(type='text', placeholder='Enter player name', value="Jernej")
          a.btn.btn-lg.btn-primary#create-game-room Create