extends layout

block content
  // TODO: Check styling!
  .container
    .row
      .col-xs-10#rooms
        .list-group
          each room in rooms
            div(room.roomId).list-group-item
              h4.list-group-item-heading= room.roomId
              p.list-group-item-text= room.description
              p.list-group-item-text Chosen level id: #{room.levelId}
              p.list-group-item-text Players: #span#playersIn #{room.playersIn}/#{room.players}
              a(room.roomId).btn.btn-sm.btn-info.room Join
      .col-xs-2#newRoom
        h2 New multiplayer game
        form(role='form')
          .form-group
            label(for='roomName') Room name:
            input#roomName.form-control(type='text', placeholder='Enter room name')
          .form-group
            label(for='levelId') Level id:
            input#levelId.form-control(type='text', placeholder='Enter level id')
          a.btn.btn-lg.btn-primary#create Create